section {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:before {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  background-color: #022cb8;
  background-image:url('/assets/img/fundo_social.jpeg');
  /* background-size: 1366px 768px; */
  background-size: 170%;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(2.0);
}

section .content {
  position:relative;
  margin: 0 auto;
  text-align:center;
  height: 120vh;
  width: 100%;
  z-index: 1;
  font-size:16px;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
}

#boas-vindas {
  display:grid;
  grid-template-columns: 1fr 2fr 3fr 0.5fr;
  width:100%;
}

.texto-1 {
  margin-top:40%;
  color: #fff;
  font-family: "LatoLightItalic", Arial, Helvetica, sans-serif !important;
  text-align: center;
}

.texto-1 h1 {
  font-family: "LatoItalic", Arial, Helvetica, sans-serif !important;
  font-size:30px;
  text-align: initial;
}
.texto-1 h5 {
  font-family: "LatoItalic", Arial, Helvetica, sans-serif !important;

  text-align: center;
}
.texto-1 h6 {
  font-family: "LatoItalic", Arial, Helvetica, sans-serif !important;

  text-align: center;
}

.vetor-logo {
  background-image:url('/assets/img/SM_BRANCO.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
}

.button {
  background: none;
  border-radius: 12px;
  box-shadow: none;
  font-family: "LatoBlackItalic", Arial, Helvetica, sans-serif;
  color:#fff;
  font-size:15px;
}

#navbar {
  display:grid;
  grid-template-columns: 1fr 3fr 2fr;
  width:100%;
  height:10vh;
}

.logotipo {
  background-image:url('/assets/img/SM_BRANCO.png');
  background-size: 60%;
  background-position: top;
  background-repeat: no-repeat;
  margin-left:-20px;
}

.menu {
  margin-top: 3%;
  margin-left:-30px;

}

.menu-button {
  color: #fff;
  font-family: "LatoLight", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  background: local;
}

.menu-recursos {
  color: #000;
  font-family: "LatoBlack", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  background-color: #022cb8;
  border-radius: 20px;
}

.white-line {
  border-bottom: 1px solid #fff;
  width:80%;
  margin-left:10%;
  margin-top:1.5%;
  align-items: center;
}

.recursos{
  font-size:16px;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  text-align:center;
  margin-top:8%;
}
#recursos-grid {
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  margin-top:5%;
  grid-gap: 5%;
}

.recursos-card {
  border-radius: 15px;
  border-right: 3px solid #eaeaea;
  border-bottom: 5px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  width:300px;
  height:340px;
  background-image:url('/assets/img/fundo-card-login.png');
  background-position: top center;
  background-repeat: no-repeat;
  display:grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  grid-gap:3%;
  place-items: center;
}

.recursos-card h2{
  font-family: "LatoLight", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  margin-top:10%;
  font-size: 16px;
}

.recursos-card h3{
  font-family: "LatoBlackItalic", Arial, Helvetica, sans-serif !important;
  color:#000000;
  margin-top:10%;
  font-size: 16px;
}

.blue-circle {
  background: #022cb8;
  border-radius: 50%;
  width:80px;
  height:80px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 5px solid #eaeaea;
  border-bottom: 5px solid #eaeaea;
}

.entrar-button {
  color: #fff;
  font-family: "LatoBlackItalic", Arial, Helvetica, sans-serif !important;
  background-color: #000;
  border-radius: 20px;
}

.devteam {
  background-image:url('/assets/img/cropped-RD-SECOND-MIND-4-3-270x270.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:20%;
  height:380px;
}

#separator {
  display: grid;
  width: 100%;
  margin-top:5%;
  margin-bottom:7%;
  justify-content: center;
  align-content: center;
  place-items: center;
}

.blue-line {
  width: 60%;
  min-width: 200px;
  height:20px;
  border-bottom: 1px solid #022cb8;
}

#servicos {
  display: grid;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center top;
  grid-auto-flow: column;
  grid-column-gap: 20vh;
  margin-bottom:10%;
}
.clientes {
  font-size:16px;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  text-align:center;
  margin-top:8%;
}
#clientes {
  display: grid;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center top;
  grid-auto-flow: column;
  grid-column-gap: 20vh;
  margin-bottom:10%;
  font-size:16px;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  text-align:center;
  margin-top:8%;
}
.clientes-grid {
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  margin-top:5%;
  grid-gap: 5%;
  word-break: normal;
}

.card-inst {
  width: 280px;
  text-align: center;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  word-break: normal;
}

.card-servico {
  border-radius: 40%;
  width: 200px;
  height: 200px;
  margin-left: 14%;
  background-image:url('/assets/img/cropped-RD-SECOND-MIND-4-3-270x270.jpg');
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.card-client {
  background: #fff;
  border-radius: 50%;
  width:200px;
  height:200px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}
.card-serv {
  background: #022cb8;
  border-radius: 50%;
  width:200px;
  height:200px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 5px solid #eaeaea;
  border-bottom: 5px solid #eaeaea;
  margin-left: 14%;
}

#footer {

  background-image:url('/assets/img/fundo_social.jpeg');
  background-repeat: repeat;
  height: 70vh;
  color:#fff;
  text-align: justify;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows: 8fr 1fr;
}

#footer-menu {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1.5fr 1fr 1fr;
  background-image:url('/assets/img/fundo_social.jpeg');
}

.footer {
  padding: 15% 0 0 15%;
  font-family: "LatoItalic", Arial, Helvetica, sans-serif !important;


}

.footer h2 {
  text-transform: uppercase;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  font-weight: normal;
}

.footer .button {
  padding: 0;
  text-align: left;
  font-weight: normal;
  background: none;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif !important;
  color: #fff;
}
#footer .background{
  background-image:url('/assets/img/fundo_social.jpeg');
}

#footer .logotipo {
  background-image: url('/assets/img/SM_BRANCO.png');
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  margin-left: 0;
  height:100%;
  margin-bottom: 8%;
}
