<section>
  <div class="content">

    <div id="navbar">
      <div class="logotipo"></div>
      <div class ="menu"></div>
      <div class="menu">
        <button mat-button class="menu-button" (click)="scrollTo('navbar')">INÍCIO</button>
        <button mat-button class="menu-button" (click)="scrollTo('recursos')">RECURSOS</button>
        <button mat-button class="menu-button" (click)="scrollTo('servicos')">SERVIÇOS</button>
        <button mat-button class="menu-button" (click)="scrollTo('clientes')">CLIENTES</button>
        <button mat-button class="menu-button" (click)="scrollTo('footer')">CANAIS</button>
      </div>
    </div>

    <div class="white-line"></div>


    <div id="boas-vindas">
      <div></div>
      <div data-aos="fade-right" data-aos-duration="1000" class="texto-1">
        <h1>Nossa missão é buscar tecnologias que garantam a qualidade e produtividade dos produtos desenvolvidos para nossos clientes.</h1>
        <h5>A Second Mind é uma empresa de tecnologia que visa oferecer soluções que direcionem a inovação nos processos administrativos de seus clientes.</h5>
        <h6>Atuamos com a responsabilidade de levar as melhores soluções tecnológicas para nossos clientes.</h6>
        <br><br>
        <button  mat-raised-button class="button" (click)="scrollTo('footer')" >Começar</button>
      </div>
      <div class="vetor-logo" data-aos="fade-left" data-aos-duration="1000"></div>
    </div>
  </div>
</section>

<div id="recursos"></div>
<div class="recursos">
  <h1>Recursos</h1>
  Nossa empresa possui uma gama de recursos que auxiliam no desenvolvimento de nossos projetos de maneira ímpar, garantindo uma maior segurança para cliente.
  <br><br>
  <div id="recursos-grid">

    <div class="recursos-card" data-aos="fade-up" data-aos-duration="1000"><h2>Consultoria</h2>
      <div class="blue-circle"><img src="/assets/img/baseline_groups_white_24dp.png" alt="image" width="50px" height="50px"></div>
      <div><h3>Ajudamos a nossos clientes a atingir seus objetivos e aumentar sua produtividade  de forma eficaz e eficiente através de soluções que garantam uma maior segurança na tomada de decisão.</h3></div>
    </div>
    <div class="recursos-card" data-aos="fade-down" data-aos-duration="1000"><h2>Código Flexível</h2>
      <div class="blue-circle"><img src="/assets/img/baseline_view_in_ar_white_24dp.png" alt="image" width="50px" height="50px"></div>
      <div><h3>Trabalhamos com grande variedade de linguagens de forma organizada e refatorável garantindo um código mais limpo e reutilizável através de boas práticas de desenvolvimento.</h3></div>
    </div>
    <div class="recursos-card" data-aos="fade-up" data-aos-duration="1000"><h2>Suporte</h2>
      <div class="blue-circle"><img src="/assets/img/baseline_support_white_24dp.png" alt="image" width="50px" height="50px"></div>
      <div><h3>Suporte corporativo com atendimento técnico remoto, central help-desk, visitas in-loco emergenciais e planos de suporte específicos para cada demanda.</h3></div>
    </div>
    <div class="recursos-card" data-aos="fade-up" data-aos-duration="1000"><h2>New & Old School</h2>
      <div class="blue-circle"><img src="/assets/img/baseline_auto_fix_high_white_24dp.png" alt="image" width="50px" height="50px"></div>
      <div><h3>Nossos projetos podem ser criados tanto utilizando a metodologia tradicional, atendendo  um escopo específico ou utilizando  metodologias ágeis.</h3></div>
    </div>

  </div>
</div>

<div id="separator">
  <div class="blue-line"></div>
</div>

<div id="servicos">
  <div class="card-inst">
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_storage_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Big Data</h5>
      <p>Adquira insights valiosos de suas tendências de mercado, transformando suas informações em dados.</p>
    </div>
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_ac_unit_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Apis</h5>
      <p>Leia dados de outras aplicações, disponibilize seus dados para parceiros, conecte diferentes áreas da sua empresa.</p>
    </div>
  </div>
  <div class="card-inst">
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_code_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Aplicações Web</h5>
      <p>Tenha softwares sob medida para seus processos, aumentando a produtividade do seu negócio.</p>
    </div>
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_leaderboard_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Reports</h5>
      <p>Dashboards e repots possibilitando acesso direto aos seus dados mais importantes.</p>
    </div>
  </div>
  <div class="card-inst">
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_smartphone_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Aplicativos</h5>
      <p>Se sua empresa necessita de um aplicativo para ampliar seu mercado ou para tratar melhor seus processos.</p>
    </div>
    <div class="card-inst">
      <div class="card-serv" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/baseline_schema_white_24dp.png"  alt="image" width="100px" height="100px"></div>
      <h5>Integração de Sistemas</h5>
      <p>Integre seus sistemas e serviços de forma transparente e funcional.</p>
    </div>
  </div>
</div>

<div id="separator">
  <div class="blue-line"></div>
</div>

<div id="clientes"></div>
<div class="clientes">
    <h1>Nossos Clientes</h1>
    Tratamos nossos clientes de maneira ímpar.
    <br><br>
    <div class="clientes-grid">
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/docf2.png"  alt="image" width="250px" height="250px"></div>
      </div>
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/hexagon.jpg"  alt="image" width="250px" height="150px"></div>
      </div>
    </div>
    <div class="clientes-grid">
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/logo_brain2.png"  alt="image" width="250px" height="150px"></div>
      </div>
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/logo_conexsus.png"  alt="image" width="250px" height="150px"></div>
      </div>
    </div>
    <div class="clientes-grid">
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/logo_msf3.png"  alt="image" width="250px" height="150px"></div>
      </div>
      <div class="clientes-grid">
        <div class="card-client" data-aos="zoom-in" data-aos-duration="1000"><img src="/assets/img/logotipo-vertical-esdb2.png"  alt="image" width="250px" height="250px"></div>
      </div>
    </div>
    <p></p>
</div>





<div id="footer">
  <div id="footer-menu">
    <div class="footer"> <h2>Contato</h2><br>Telefone: +55 31 98396-6061<br>E-mail: contato@secondmind.com.br<br>Endereço: Rua Cataguases, 323 A<br>CEP: 36406-109<br>Conselheiro Lafaiete – MG</div>
    <div class="footer"> <h2>Mapa do site</h2>
      <br><button  mat-raised-button class="button" (click)="scrollTo('navbar')"  >INÍCIO</button>

      <br><button mat-button class="button" (click)="scrollTo('recursos')">RECURSOS</button>

      <br><button mat-button class="button" (click)="scrollTo('servicos')">SERVIÇOS</button>

      <br><button mat-button class="button" (click)="scrollTo('clientes')">CLIENTES</button>

      <br><button  mat-raised-button class="button" (click)="scrollTo('footer')"  >CANAIS</button>
    </div>
  </div>
  <div class="logotipo"></div>
</div>
